/* ------------------------ */
/* F O N T */
/* ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------ */
/* V A R I A B L E S */
/* ------------------------ */
:root{
    --color-pri: #0f0;
    --color-seg: #fcf4ed;
    --ffamily: Poppins, sans-serif;
}


/* ------------------------ */
/* R E S E T */
/* ------------------------ */
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/* ------------------------ */
/* G E N E R A L */
/* ------------------------ */
body{
    font-family: var(--ffamily);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
nav{
    padding: 14px;
    border-radius: 4px;
    border: 2px solid #fff9;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: all 0.4s ease-in-out;
    a:is(:link, visited){

        svg{
            opacity: .7;
            width: 40px;
            height: 40px;
        }
    }
}
nav:is(:hover){
    background-color: aliceblue;
    transform: translateX(-4px);
}
main{
    display: flex;
    text-emphasis: center
    ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    header{
        h1{
            font-size: 4rem;
            text-align: center;
            /* le merma el color a la negrilla */
            font-weight: 500;
            align-items: center;
            justify-content: center;
        }
        h2{
            font-size: 1.4rem;
            text-align: center;
            /* le merma el color a la negrilla */
            font-weight: 300
        }
    }
}
menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    a:is(:link, :visited){
        background-color: rgba(106, 106, 106, 0.6);
        border-radius: 10px 0 10px 0;
        display: flex;
        align-items: center;
        gap:  1rem;
        text-decoration: none;
        padding: 8px;
        transition: all 0.4s ease-in-out;
        width: 280px;
        span{
            font-size: 2rem;
        }
        a:is(:hover){
            background-color: rgb(211, 200, 200);
            transform: scale(1.01) translateX(4px);
        }
    }
}
/* ------------------------ */
/* M A I N  M E N U */
/* ------------------------ */
body.mmenu{
    background-color: var(--color-seg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='12.209999999999999'%3E%3Cpath transform='translate(-103.95 6.4) rotate(-0.6500000000000004 1409 581) scale(0.949629)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4.07' transform='translate(-124.5 78) rotate(7.8999999999999995 800 450) scale(1.00864)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(20.599999999999998 -94.5) rotate(63.5 401 736) scale(1.00864)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.7'%3E%3Cpath transform='translate(468 -0.1999999999999993) rotate(0.04999999999999982 150 345) scale(0.9825429999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8.14' transform='translate(-141.5 -210.5) rotate(57.599999999999994 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-294.4 81.6) rotate(9.599999999999998 1400 132) scale(0.845)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
img {
    margin: auto; /* Centrado horizontal */
    display: block; /* Alinea la imagen al centro */
}
p{
    text-align: center;
}
/* otro nombre */
body.rdessign{
    background-color: #9EFFA1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23371FFF'/%3E%3Cstop offset='1' stop-color='%2320FF36'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFB71A'/%3E%3Cstop offset='1' stop-color='%23B125FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    header{
        h1{
            font-size: 3rem;
        }
    }
}